*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url(../images/360_F_96243602_hgZuimFj1cJFqrrvERCnsq7NZ8VRZ7y7.jpg);
  background-size: cover;
}

h1{
  font-size: 26px;
  text-align: center;
  color: black;
}

.forgot-password{
  width: 420px;
  background: transparent;
  border: 1px solid rgba(0 , 0, 0, 1);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  padding: 20px 30px;
}

.forgot-password .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid;
  border-color: black;
  outline: none; 
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #000000;
}

.input-box i{
 position:absolute;
 right: 20px;
 top: 30%;
 transform: translate(-40%);
 font-size: 20px;
 color: black;
}

.forgot-password .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.15s;
}

.forgot-password .btn:hover{
  background-color: rgb(155, 155, 252);
}

.forgot-password .btn:active{
  background-color: rgb(70, 70, 249);
}

.remember-password{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-password label{
  color: #000000;
}

.remember-password a{
  color: rgb(155, 155, 252);
}