*{
  font-family: 'sans-serif', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  
  position: fixed;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  width: 100%;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

left-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 70%;
} 

.logo{
  display: flex;
  margin-right: 70%;
  margin-left: 30px;
  margin-bottom: -4px;
}

.mid-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 3px;
}

.mid-nav ul{
  list-style-type: none;
  display: flex;
  margin: 0 auto; 
  padding-right: 5px;
  margin-left: 60px;
}

.mid-nav ul li{
  width: max-content;
  font-size: 15px;
}
.mid-nav ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px 21px;
}

.right-nav{
  width: 100%;
}

.right-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.7rem ;
  float: inline-end;
  margin-right: 40px;
}

.right-nav ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px 8px;
  gap: 1.7rem ;
  font-size: 15px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/360_F_96243602_hgZuimFj1cJFqrrvERCnsq7NZ8VRZ7y7.jpg') no-repeat center center/cover;
}

.container h1{
  font-size: 5rem;
  color: #282828;
  text-align: center;
  padding: 20px
}

.container p{
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.container .btn{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  background-color: rgb(61, 181, 61);
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 30px;
  cursor: pointer; 
}

footer{
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  box-shadow: 5px 1px 9px rgba(0, 0, 0, 0.5);
}

footer p{
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

li:hover{
  border: 2px solid rgb(61, 181, 61);
  border-radius: 12px;
}

ul li a:hover{
  color: rgb(61, 181, 61);
  text-decoration: none;
}

ul li a:active{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.btn:hover{
  border: 2px solid rgb(61, 181, 61);
  background-color: transparent;
}

.btn:active{
  color: rgb(61, 181, 61);
  text-decoration: none;
}