*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/side-view-doctor-holding-petri-dish.jpg);
  background-size: cover;
}

.register-wrapper{
  width: 420px;
  background: transparent;
  border: 1px solid rgba(0 , 0, 0, 1);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  padding: 30px 40px;
}

.register-wrapper h1{
  text-align: center;
  font-size: 36px;
}

.register-wrapper .input-box{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid;
  border-color: black;
  outline: none; 
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #000000;
}

.register-wrapper i{
  position: absolute;
  top: 30%;
  right: 20px;
  transform: translate(-50%);
  color: rgb(0, 0, 0);
}

.register-wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  color: #333;
  transition: 0.15s;
}

.register-wrapper .btn:hover{
  background-color: rgb(155, 155, 252);
}

.register-wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a{
  color: rgb(155, 155, 252);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}